body{
    margin: 0;
    padding: 0;
}

.pie{
    background-color: rgb(9, 124, 170);
    color: white;
    align-items: center;
}

.card{
    display: flex;
}

a{
    text-decoration: none;
    color: grey;
}

.cabezera{
    display: flex;
    height: 50px;
    background-color: rgb(56, 54, 54);
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

.logo{
    display: flex;
    align-items: center;
    color: white;
}

nav a{
    padding-right: 10px;
}

.contienda{
    background-color: rgb(56, 54, 54);
    color: white;
}

.btn{
    border-color: white;
    color: white;
}

header{
    background-color: rgb(56, 54, 54);
    color: white;
   
}

.caja{
    position: relative;
    display: inline-block;
}

.texto1{
position: absolute;
top: 500px;
left: 70%;
font-size: 50px;
}

.texto2{
    position: absolute;
    top: 600px;
    left: 70%;
    font-size: 22px;
    }
    .button1{
        position: absolute;
        top: 800px;
        left: 70%;
        font-size: 22px;
        }
    .button2{
            position: absolute;
            top: 800px;
            left: 80%;
            font-size: 22px;
            }



































